ion-toolbar {
    --background: #3880ff;
    --color: #fff;
  }
  
  ion-item {
    --padding-start: 16px;
    --inner-padding-end: 8px;
    font-size: 1rem;
  }
  
  ion-icon {
    font-size: 1.2rem;
    color: #3880ff;
  }

.add-button{
  border-radius: 2px;
  background-color: white;
  color: white;
}
  